<h1>{{user.name}}</h1>
<h2>{{user.dog}}</h2>
<h3>dogs</h3>
{{#each dogs}}
  <h2><a href="/users/{{this._id}}/dogs">{{this.name}}</a></h2>
  <p><small>{{this.dog}}</small></p>
{{/each}}


<a href="/users">Back to Home</a>
<a href="/users/{{user._id}}/change">Change</a>
